<head>
<style>

	body {
	    background-color: blue;
	}

	h1 {
			text-align: center;
	    color: rgb(92, 102, 112);
			font-family: "Verdana", sans-serif;
	}

	p {
		text-align: center;
	}

	.intro { 
	    background-color: yellow;
	}

</style>
</head>
