
#home{
	width: auto;
  font-family: Calibri, sans-serif;
  text-align: center;
  margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

#home h1 {
	font-size: 200%;
}

#propic{
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
}

#test{
	width: 50px;
	height: 50px;
	background-color: red;
}
