<head>
<style>

	body {
	    background-color: blue;
	}

	h1 {
			text-align: center;
	    color: rgb(92, 102, 112);
			font-family: "Verdana", sans-serif;
	}

	p {
		text-align: center;
	}

	.testclass {
		color: rgb(255, 99, 71);
	}

	/* Add a black background color to the top navigation */
.topnav {
    background-color: #808B96;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #F2F3F4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#profilepic {
		width: 100px;
		float: left;

}

</style>
</head>
